h1{
  color: rgb(220, 206, 206);
}

h2{
  color: rgb(60, 37, 12);
}

.header-main{
  position:relative ;
}

.header-title {
  color: rgb(235, 203, 186);
}


.app-title {
  text-decoration: none;
}
.header-subtitle {
  font-family: Snell Roundhand, cursive		;
}