@import "variables.scss";

.home-main {
  min-height: 75vh;
}

.home-button {
  background-color: rgb(240, 155, 64);
  height: 5vh;
  width: 10vh;
  border-radius: 10%;
  border: none;
  font-size: 1.7vh;
  font-weight: bold;
  color: rgb(53, 47, 47);
}