@import "variables.scss";

.home-main {
  min-height: 65vh;
}

#flowers-photo {
  width: 98%;
  max-height: 45vh;
  background-position: 100% 50%;
  position: relative;
}

.image-div {
  position: relative;
  top: 4vh;
  max-height: 75vh;
}

.flower-div{
  // display: flex;
  width: 75%;
}

.pop-list {
  display: inline-block;
  flex-flow: row wrap;
  // align-items: center;
    width: 20%;
  padding: 5vh;
}

.pop-main{
  margin: 0 auto;
min-height: 300h; 
 justify-content: center;

}

#oil-div {
  text-align: center;
  color: rgb(28, 22, 17);
  font-family: fantasy;
  font-size: 2.5vh;
  font-weight: bold;
}

.home-title {
  font-size: 6vh;
  font-family: fantasy;
  text-align: center;
  padding: 18vh;
  color: #070707;
}

#seeall-button {
  background-color:rgb(245, 212, 183);
  height: 8.5vh;
  width: 18vh;
  border-radius: 5%;
  border: none;
  font-size: 2.7vh;
  font-weight: bold;
  position: absolute;
  color: rgb(53, 47, 47);
  z-index: 1;
  top: 70%;
  left: 44%;
  justify-content: center;
  text-align: center;
}