@import "variables.scss";

.landing-main {
  position: relative;
  // top: 20vh;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $copper;
}
.landing-title {
  color:  rgb(122, 82, 38);  
  font-family: Snell Roundhand, cursive	;
  font-weight: 100;
  font-size: 60px;
}

.landing-subtitle {
  font-size: 40px;
  color: rgb(245, 212, 183);
  font-weight: 100;
  font-family: Trattatello, fantasy	;
  // transition-delay: 250ms;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  
  // visibility: hidden;
  // transition-property: margin-right;

}
.landing-text {
  text-align: center;
  position: relative;
  top: 24vh;
}

.landing-button {
  background-color:rgb(245, 212, 183);
  height: 5vh;
  width: 10vh;
  border-radius: 10%;
  border: none;
  font-size: 1.7vh;
  font-weight: bold;
  color: rgb(67, 53, 53);
  position: relative;
  top: 18vh;
}
