@import "variables.scss";

ul.big-list {
  background-color: rgb(226, 218, 224);
  width: 100%;
  min-height: 10vh;
  position: relative;
  justify-content: center;
  display: flex;
  // text-align: center;

}

.list {
  // float:left;
  list-style-type: none;
  width: auto;
  display: flex;
  // justify-content: center;
  padding: 5vh 10vh 5vh 10vh;
  font-size: 4vh;
}

.nav-div {
  margin: 0 auto
}

a.Link {
  color: rgb(172, 133, 86);
  position: relative;
  display: flex;
  text-decoration: none;
  text-align: center;
}


