@import "variables.scss";

ul.big-list {
  background-color: rgb(41, 41, 41);
  width: 100%;
  min-height: 10vh;
  position: relative;
  justify-content: center;
  display: flex;
}

.list {
  box-shadow: 0px 4px 0px 0px rgba(65, 63, 63, 0.5);
  list-style-type: none;
  width: auto;
  display: flex;
  content: center;
  padding: 5vh 15vh 5vh 15vh;
  font-size: 4vh;
}

.nav-div {
  margin: 0 auto;
}

a.Link {
  transition: 0.1s linear;
  color: rgb(172, 133, 86);
  position: relative;
  display: flex;
  text-decoration: none;
  text-align: center;
}

a.Link:hover {
  position: relative;
  border-bottom: 1px solid#a28536;
  color: #ddbd65;
  overflow: hidden;

  // -webkit-animation: circle 1.5s ease-in forwards;
}
