@import "variables.scss";

ul.big-list {
  background-color: rgb(242, 220, 198);
  // width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
}

.list {
  list-style-type: none;
  display: flex;
  min-height:1vh;
  content: center;
  padding: 2vh 15vh 2vh 15vh;
  font-size: 3.5vh;
}

.nav-div {
  margin: 0 auto;
}

a.Link {
  transition: 0.1s linear;
  color: rgb(22, 17, 11);
  position: relative;
  display: flex;
  text-decoration: none;
  text-align: center;
}

a.Link:hover {
  position: relative;
  border-bottom: 1px solid#a28536;
  color: #ddbd65;
  overflow: hidden;
}
