@import "variables.scss";




#detail-pic {
  width: 48px;
  height: 48px;
}

// #detail-title{
//   font-size: 30px;
// }

// #detail-blerb {
//   font-size: 20px;
//   width: 45%;
// }

.details-main {
  min-height: 650vh;
  padding-left: 200px;
}