@import "variables.scss";


.oils-main {
  min-height: 72.7vh;
  position: relative;
  top: 40vh;
  width: 10px;
}


.oils-list {
  padding: 4.9vh;
  max-width: 30%;
  display: inline-block;
  // flex-wrap: wrap;
  font-family: fantasy;
  font-size: 2.5vh;
  font-weight: 600;
}

.oil-pic {
  width: 20vh;
  height: 22vh;
}

a {
  text-decoration: none;
  color: white;
}

// justify-content: start, center, space-between, space-around, space-evenly
// flex-direction: row, row-reverse, column, column-reverse
// flex-wrap: nowrap, wrap, wrap-reverse
// align-items: stretch, center, start, end
// align-items: stretch, center, start, end
// align-content: start, center, space-between, space-around
// 